<footer class="footer text-white fixed-bottom p-2" style="background-color: #4c1701;">
  <div class="container">
    <div class="row mt-1">
      <p class="footer-text mt-2">©2021 Mengatari</p>
      <!--投稿検索-->
      <div class="ml-auto">
        <div class="form-inline">
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field :content, placeholder: "投稿を検索", class:"form-control mr-sm-2" %>
            <%= hidden_field_tag :model, "post" %>
            <%= button_tag sanitize('<i class="fa fa-search"></i>'), :type => "submit", :class =>"btn btn-secondary my-2 my-sm-0" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>