<% flash.each do |message_type, message| %>
<div class="container mt-2">
  <% alert_type = message_type == "notice" ? "success" : "danger" %>
  <div class="alert alert-<%= alert_type %> alert-dismissible fade show" >
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<% end %>