<% if notice %>
　　<p><%= notice %></p>
<% end %>
<% if alert %>
   <p><%= alert %></p>
<% end %>

<!--< % if flash[:notice] %>-->
<!--  <div class="alert alert-info">-->
<!--    < %= flash[:notice] %>-->
<!--  </div>-->
<!--< % end %>-->
<!--< % if flash[:alert] %>-->
<!--  <div class="alert alert-danger">-->
<!--    < %= flash[:alert] %>-->
<!--  </div>-->
<!--< % end %>-->